/ObserverJava/nbproject/private/
/ObserverJava/build/
/Civilization/nbproject/private/
/SampleCRUDApp/nbproject/private/
/SampleCRUDApp/CustomerDBAccess/nbproject/private/
/SampleCRUDApp/CustomerDBAccessLibrary/nbproject/private/
/SampleCRUDApp/CustomerEditor/nbproject/private/
/SampleCRUDApp/CustomerViewer/nbproject/private/
/SampleCRUDApp/derbyclient-library/nbproject/private/
/GuiDataBase/nbproject/private/
/GuiDataBase/build/
/Examen2Auto/nbproject/private/
/QuickStart/nbproject/private/
/SnapApp/nbproject/private/
/SnapApp/build/
/ComponenteCampoTexto/nbproject/private/
/ComponenteCampoTexto/build/
/ComponenteCampoTexto/dist/
/ComponentePrueva/nbproject/private/
/ComponentePrueva/build/