/ObserverJava/nbproject/private/
/ObserverJava/build/
/Civilization/nbproject/private/
/SampleCRUDApp/nbproject/private/
/SampleCRUDApp/CustomerDBAccess/nbproject/private/
/SampleCRUDApp/CustomerDBAccessLibrary/nbproject/private/
/SampleCRUDApp/CustomerEditor/nbproject/private/
/SampleCRUDApp/CustomerViewer/nbproject/private/
/SampleCRUDApp/derbyclient-library/nbproject/private/
/GuiDataBase/nbproject/private/
/GuiDataBase/build/
/Examen2Auto/nbproject/private/
/QuickStart/nbproject/private/
/SnapApp/nbproject/private/
/SnapApp/build/
/ComponenteCampoTexto/nbproject/private/
/ComponenteCampoTexto/build/
/ComponenteCampoTexto/dist/
/ComponentePrueva/nbproject/private/
/ComponentePrueva/build/
/ComponenteCompuestoPrueva/nbproject/private/
/ComponenteCompuestoPrueva/build/
/ComponenteCompuestoPrueva/dist/
/ComponenteCompuestoPractica/nbproject/private/
/ComponenteCompuestoPrueba/nbproject/private/
/ComponentePrueba/nbproject/private/
/ComponenteCompuestoPrueba/build/
/ComponenteCompuestoPrueba/dist/
/ComponentePrueba/build/
/ComponentePrueba/dist/
/ComponenteOpciones/nbproject/private/
/ComponenteCompuestoPractica/build/
/ComponenteCompuestoPractica/dist/
/ComponentePregunta/nbproject/private/
/ComponentePregunta/build/
/ComponentePregunta/dist/
/CitasPacientes/nbproject/private/
/CitasPaciente/nbproject/private/
/CitasPaciente/build/
/ComponenteCompuestoCampoTitulos/nbproject/private/
/ComponenteLabels/nbproject/private/
/ComponenteLabels/build/
/ComponenteLabels/dist/
/ExamenComponentes/nbproject/private/
/ExamenComponentes/build/
/ExamenComponentes/dist/
/CitasPaciente/dist/
/CitasPacientes/build/
/CitasPacientes/dist/
/ExamRecUni2/nbproject/private/
/ExamRecUni2/build/
/ExamRecUni4/nbproject/private/
/ExamRecUni4/build/
/ExamRecUni4/dist/