/ObserverJava/nbproject/private/
/ObserverJava/build/
/Civilization/nbproject/private/
/SampleCRUDApp/nbproject/private/
/SampleCRUDApp/CustomerDBAccess/nbproject/private/
/SampleCRUDApp/CustomerDBAccessLibrary/nbproject/private/
/SampleCRUDApp/CustomerEditor/nbproject/private/
/SampleCRUDApp/CustomerViewer/nbproject/private/
/SampleCRUDApp/derbyclient-library/nbproject/private/
/GuiDataBase/nbproject/private/
/GuiDataBase/build/